# Node modules
/node_modules/

# Electron build files
/dist/
/out/

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# npm package lock file (optional)
package-lock.json

# Optional Electron packaging files
/.idea/
/.vscode/

# Environment files
.env

# /database
/ipc
/scripts/db/db-academic-years.js
/scripts/db/db-bills.js
/scripts/db/db.js
/scripts/db/index.js
/windows
