/* Define color variables in the :root */
:root {
  --color-primary: #41d87b;
  --color-secondary: #1d347a;
  --color-secondary-dark: #152659;
  --color-secondary-light: #4f65a0;
  --color-red: #cc0000;
  --color-red-light: #ff0000;
  --color-red-dark: #660000;
  --color-blue: #3498db;
  --color-green: #38761d;
  --color-white: #f4f4f4;
  --text-color: #2c3e50; /* Dark Blue/Grey (same as secondary) */
  --highlight-color: #ddd;
  --neutral-color: #bdc3c7;
  --color-yellow: #fc8c05;
}

body {
  margin: 0;
  padding: 0;
}

/* Usage
    background-color: var(--background-color);
   */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Base page styles */
body,
html {
  height: 100%;
  overflow: hidden;
  scroll-behavior: smooth;
  list-style-type: none;
}

button,
input,
select {
  display: block;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 100%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-weight: inherit;
  line-height: inherit;
  border-color: #eaeaea;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

select {
  background-color: white;
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  color: #9ca3af;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  background-image: none;
  background-color: var(--color-secondary);
  color: white;
}

button,
[role="button"] {
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

td,
th {
  padding: 8px;
  text-align: left;
  border: 0.1rem solid var(--text-color);
}

th {
  background-color: var(--color-secondary);
  color: white;
  font-size: larger;
}

/* ************************ DISPLAY CSS ********************* */
.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 3;
}

.flex-80 {
  flex: 0 0 75%;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: start;
}

.j-space-between {
  justify-content: space-between;
}

.flex-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1rem 0;
}

.flex-item label {
  width: 30%;
  font-size: large;
}

.flex-item input {
  width: 60%;
}

.flex-item select {
  width: 60%;
}

.flex-item span {
  width: 60%;
}

.full-width {
  width: 100%;
}

.bold-text {
  font-weight: 700;
}

/* ************************ ROUNDED TABLE CSS ****************** */
.table-rounded {
  border-collapse: collapse;
  width: 100%;
  border-radius: 0.5rem;
  overflow: hidden;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.table-rounded th,
.table-rounded td {
  padding: 8px 12px;
  text-align: left;
}

.table-rounded th:nth-child(2),
.table-rounded td:nth-child(2) {
  text-align: left;
}

.table-rounded th {
  background-color: var(--color-secondary);
  font-weight: bold;
  border: 0.1rem solid var(--text-color);
}

.table-rounded tr:last-child td {
  border-bottom: none;
}

.table-rounded td {
  border: none;
}

/* Remove vertical borders completely */
.table-rounded td,
.table-rounded th {
  border-left: none;
  border-right: none;
}

.table-rounded tr:nth-of-type(odd) {
  background-color: rgba(245, 247, 250, 0.5);
}

.table-rounded tr:hover {
  background-color: var(--highlight-color);
  cursor: pointer;
}

.table-rounded td:last-child,
.table-rounded th:last-child {
  text-align: center;
}

.table-rounded tfoot th {
  background-color: var(--color-yellow);
  border: none;
}

.plain-table-header {
  background-color: transparent !important;
  color: var(--color-secondary) !important;
  border: none !important;
}

/* ***************** HEADER ****************** */
header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  box-shadow: 0 4px 6px 0 rgba(36, 35, 35, 0.8);
  z-index: 1000;
  background-color: var(--color-secondary);
  color: white;
}

#navAcademicYear {
  font-weight: 700;
}

header .navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

header .navbar li {
  margin-left: 1rem;
}

header .navbar ul li span {
  font-size: 1rem;
  color: #fff;
  font-weight: 600;
  transition: 0.2s;
  cursor: pointer;
}

header .navbar ul li span.active,
header .navbar ul li span:hover {
  color: var(--color-yellow);
  border-bottom: 0.2rem solid var(--color-yellow);
  padding: 0.5rem 0;
}

/* ****************** CONTAINERS CSS *************************** */
.container {
  margin: 0;
  display: flex;
  height: 100vh;
  overflow: hidden;
  background-color: #f4f4f4;
}

.elevated-container {
  background-color: white;
  border-radius: 0.5rem;
  padding: 1rem;
  box-shadow: 0 2px 2px 0 rgba(36, 35, 35, 0.8);
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 2rem;
  align-items: start;
}

.grid-1 {
  grid-template-columns: 1fr 1fr;
}

@media (max-width: 1024px) {
  .grid-container {
    grid-template-columns: 1fr; /* Stack the tables automatically */
  }
}

/* ****************** MAIN CONTENT *************************** */
main {
  width: 100%;
  margin-top: 5.4rem;
  margin-left: 1rem;
  margin-right: 2rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
  padding: 20px;
  overflow-y: auto;
  scrollbar-width: none;
  height: calc(100vh - 3.75rem); /* Adjust height to avoid overlap with the header */
  background-color: #f4f4f4;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

/* *********************** SIDEBAR *************************************** */
.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 16rem;
  background-color: var(--color-secondary);
  box-shadow: 0 2px 2px 1px rgba(36, 35, 35, 0.8);
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
  height: 100%;
}

.sidebar ul li {
  padding: 15px;
  cursor: pointer;
  text-align: left;
  border-bottom: 1px solid #e0d8d8;
}

.sidebar ul li:hover {
  background-color: var(--color-secondary-light);
}

.sidebar li.active {
  background-color: var(--color-secondary-dark);
  color: white;
  border-radius: 5px;
}

.sidebar button.active {
  background-color: #06292b;
  color: white;
}

/* ********************* NAVBAR ********************************* */
#navHeader {
  height: 8rem;
  background-color: var(--color-secondary-light);
  color: white;
  padding: 2rem 1rem;
  border-bottom: 1px solid #e0d8d8;
}

#navHeader p {
  padding: 0.2rem;
}

.admin-menu {
  position: absolute;
  background: white;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  z-index: 10;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: medium;
  overflow-y: auto;
  min-width: 10rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.admin-menu li {
  padding: 0.5rem 1rem !important;
  cursor: pointer;
  color: black;
}

.admin-menu li:hover {
  background-color: #f0f0f0;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

/* *************** HOME SECTION CSS  ***************** */
#homeSection {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  padding: 1rem;
}

#homeSection p {
  font-size: 1.5rem;
  text-align: center;
}

.home-btns-group {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12.5rem, 1fr));
  gap: 1.25rem;
  margin: auto;
  width: 80%;
}

.home-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 1.25rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 2px 0 rgba(36, 35, 35, 0.8);
}

.home-btn i {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.home-btn h4 {
  font-size: 1.25rem;
}

.home-btn:hover {
  background-color: var(--highlight-color);
  cursor: pointer;
}

/* ************************** DASHBOARD SECTION ************ */
.metrics {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12.5rem, 1fr));
  gap: 1.25rem;
  margin-bottom: 1.25rem;
}

.metric-card {
  background-color: white;
  padding: 1.25rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 2px 0 rgba(36, 35, 35, 0.8);
  display: flex;
  align-items: center;
}

.metric-card:hover {
  background-color: var(--highlight-color);
  cursor: pointer;
}

.metric-card i {
  font-size: 2rem;
  margin-right: 1rem;
}

.action-buttons {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  gap: 15px;
}

.action-button {
  background-color: white;
  border: none;
  padding: 15px;
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.action-button:hover {
  background-color: #f0f0f0;
}

.action-button i {
  font-size: 2rem;
  margin-bottom: 10px;
  color: #3498db;
}

.action-button span {
  font-size: 1rem;
}

#dashboardClassSummaryTableBody td:nth-child(4) {
  color: var(--color-blue);
  font-weight: 700;
}

#dashboardClassSummaryTableBody td:nth-child(6) {
  color: var(--color-green);
  font-weight: 700;
}

#dashboardClassSummaryTableBody td:nth-child(7) {
  color: var(--color-red);
  font-weight: 700;
  text-align: start;
}

/* ************************** FEES ******************* */
#feesTable td:last-child,
#feesTable th:last-child {
  text-align: center;
}

#feesTable td:nth-child(6),
#feesTable th:nth-child(6) {
  text-align: center;
}

/* ************** ADD CLASS CSS ******************** */
.class-item {
  padding: 1rem;
  cursor: pointer;
  text-align: left;
  border-bottom: 1px solid #e0d8d8;
}

.class-item:hover {
  background-color: #f4f4f4;
  color: var(--color-secondary);
}

.class-item.active {
  background-color: var(--color-secondary);
  color: white;
}

.sectionContainer {
  background-color: white;
  padding: 1.5rem;
  border-radius: 0.35rem;
  box-shadow: 0 2px 2px 0 rgba(36, 35, 35, 0.8);
  margin-bottom: 2rem;
}

#addClassTable input {
  width: 100%;
}

#addClassTable table {
  overflow: visible;
}

.suggestion-list {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  z-index: 10;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: medium;
  overflow-y: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.suggestion-list li {
  padding: 0.5rem 1rem !important;
  cursor: pointer;
}

.suggestion-list li:hover {
  background-color: #f0f0f0;
}

.toggle-buttons {
  display: flex;
  gap: 0;
}

.toggle-btn {
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
  color: var(--color-secondary);
  cursor: pointer;
  transition: all 0.3s ease;
}

.toggle-btn:hover {
  background-color: #e0e0e0;
}

.toggle-btn.active {
  background-color: var(--color-secondary);
  color: #fff;
  border-color: var(--color-secondary);
}

#studentToAddInput {
  width: 100%;
}

#studentToAddSuggestionList {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  z-index: 1000;
  max-height: 200px;
  font-size: medium;
  overflow-y: auto;
  scrollbar-width: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#studentToAddSuggestionList li {
  padding: 0.5rem 1rem !important;
  cursor: pointer;
}

#studentToAddSuggestionList li:hover {
  background-color: #f0f0f0;
}

#studentsToAddTableBody td:nth-child(2) {
  text-align: end;
}

#billStudentsMessage {
  line-height: 1.6;
  color: #333;
  background-color: #f9f9f9;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid #ddd;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: large;
}
#billStudentsMessage strong {
  color: #000;
  font-weight: 700;
}
#billStudentsMessage ul {
  margin: 10px 0;
  padding-left: 20px;
}
#billStudentsMessage ul li {
  margin-bottom: 5px;
}
/* ********************** BILL CSS *********************** */
#billClassContainer select,
#billClassContainer input {
  width: 100%;
}

/* ********************** PAYMENTS SECTION ****************** */
#column-controls {
  display: flex;
  gap: 10px; /* Adjust spacing between checkboxes */
}

#column-controls label {
  display: flex;
  align-items: center;
  gap: 5px; /* Adjust spacing between checkbox and label */
  white-space: nowrap;
  cursor: pointer;
}

#column-controls input[type="checkbox"] {
  margin: 0;
}

/* ********************** SETTINGS PAGE ****************** */
#settingsClassTableBody td:nth-child(3),
#settingsYearTableBody td:nth-child(3) {
  text-align: right;
}

/* *************** MODAL CSS *********************** */
.modal {
  display: none;
  position: fixed;
  z-index: 1500;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  scrollbar-width: none;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
}

/* Modal content box */
.modal-container {
  margin: 15% auto;
  padding: 1.5rem;
  border-radius: 0.5rem;
  width: 40rem;
  text-align: start;
  animation: fadeIn 0.5s forwards;
  position: relative;
  background-color: white;
}

.modal-header {
  text-align: center;
}

.modal-content p {
  padding: 0.8rem;
}

.modal-btn-group {
  display: flex;
  margin-top: 1rem;
  gap: 2rem;
}

/* Close button (X) */
.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  cursor: pointer;
}

.modal-color-background {
  color: #333;
  background-color: rgba(92, 205, 233, 0.1);
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid #ddd;
}

/* Animation for fading in and out */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}

#addStudentForm {
  display: block;
  padding: 1rem;
  border-radius: 0.5rem;
  width: 100%;
  text-align: start;
  animation: fadeIn 0.5s forwards;
  position: relative;
  padding: 1rem;
}

#addStudentModal button {
  width: 8rem;
}

/* *************** LOGIN MODAL CSS *********************** */
#loginModal {
  display: "flex";
}

#loginModal .modal-container {
  margin: auto;
  padding: 1rem;
  border: 1px solid #888;
}

/* *************** ABOUT MODAL CSS *********************** */
#aboutModal {
  display: flex;
  position: fixed;
  z-index: 1500;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  scrollbar-width: none;
  background-color: rgba(0, 0, 0, 0.5);
}

#aboutModal .modal-container {
  margin: auto;
}

#aboutModal p {
  padding: 0.5rem 0;
}

#aboutApp {
  overflow-y: auto;
  scrollbar-width: none;
  color: #333;
  background-color: #f9f9f9;
  border-radius: 0.5rem;
  border: 1px solid #ddd;
  font-size: medium;
  padding: 1rem;
}

/* *********************** TOAST CSS ************************ */
.toast-container {
  width: auto;
  min-width: 250px;
  max-width: 400px;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 2000;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
}

.toast-text {
  padding: 12px 20px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  animation: fadeIn 0.5s forwards;
  /* animation: fadeIn 0.5s forwards, fadeOut 0.5s 2.5s forwards;  */
}

.toast-success {
  background-color: var(--color-green);
}

.toast-error {
  background-color: var(--color-red-light);
}

.toast-close-button {
  font-size: 1.5rem;
  font-weight: 700;
  padding-right: 8px;
  padding-left: 8px;
  color: #fff;
  cursor: pointer;
  shadow: 0 2px 2px 0 rgba(36, 35, 35, 0.8);
}

.toast-close-button:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  border-radius: 50%;
  margin-right: 5px;
}
/* ************** COLOURS & BACKGROUND COLOURS ********************/
.bg-secondary {
  background-color: var(--color-secondary);
  color: white;
}

.bg-red {
  background-color: var(--color-red);
  color: white;
}

.bg-green {
  background-color: var(--color-green);
  color: white;
}

.bg-yellow {
  background-color: var(--color-yellow);
  color: white;
}

.bg-blue {
  background-color: var(--color-blue);
  color: white;
}

.white-text {
  color: white;
}

.color-red {
  color: var(--color-red);
}

.color-green {
  color: var(--color-green);
}

.color-blue {
  color: var(--color-blue);
}

.color-secondary {
  color: var(--color-secondary);
}

.color-yellow {
  color: var(--color-yellow);
}
/* ************** BUTTONS CSS ******************************* */
.outlined-button {
  display: inline-block;
  color: #007bff;
  background-color: transparent;
  border: 1px solid #007bff;
  transition: all 0.3s ease;
}

.outlined-button:hover {
  background-color: #007bff;
  color: #fff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.outlined-button:active {
  background-color: #0056b3; /* Darker background when clicked */
  border-color: #0056b3;
  box-shadow: none;
}

.outlined-button:disabled {
  color: #ccc;
  border-color: #ccc;
  cursor: not-allowed;
  background-color: transparent;
}

.text-button {
  display: inline-block;
  color: #007bff;
  background-color: transparent;
  border: none;
  cursor: pointer;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  transition: color 0.3s ease, text-decoration 0.3s ease;
}

.text-button:hover {
  color: #0056b3; /* Darker colour on hover */
  text-decoration: underline;
}

.text-button:active {
  color: #003f7f; /* Even darker colour on click */
}

.text-button:disabled {
  color: #ccc;
  cursor: not-allowed;
}
