/* Define color variables in the :root */
:root {
  --color-primary: #41d87b;
  --color-secondary: #ff6425;
  --color-secondary: #083a3c;
  --color-red: #cc0000;
  --color-red-light: #ff0000;
  --color-red-dark: #660000;
  --color-blue: #3498db;
  --color-green: #38761d;
  --color-white: #f4f4f4;
  --text-color: #2c3e50; /* Dark Blue/Grey (same as secondary) */
  --highlight-color: #e74c3c;
  --neutral-color: #bdc3c7;
  --color-yellow: #fc8c05;
}

body {
  margin: 0;
  padding: 0;
}

/* Usage
    background-color: var(--background-color);
   */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Base page styles */
body,
html {
  height: 100%;
  overflow: hidden;
  scroll-behavior: smooth;
  list-style-type: none;
}

button,
input,
select {
  display: block;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 100%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-weight: inherit;
  line-height: inherit;
  border-color: rgba(209, 213, 219, 1);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

select {
  background-color: white;
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  color: #9ca3af;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  background-image: none;
  background-color: var(--color-secondary);
  color: white;
}

button,
[role="button"] {
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

td,
th {
  padding: 8px;
  text-align: left;
  border: 0.1rem solid var(--text-color);
}

th {
  background-color: var(--color-secondary);
  color: white;
  font-size: larger;
}

/* ************************ DISPLAY CSS ********************* */
.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 3;
}

.flex-80 {
  flex: 0 0 75%;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: start;
}

.j-space-between {
  justify-content: space-between;
}

.full-width {
  width: 100%;
}

/* ****************** CONTAINER CSS *************************** */
.container {
  margin: 0;
  display: flex;
  height: 100vh;
  overflow: hidden;
  background-color: var(--color-secondary);
}

/* ****************** MAIN CONTENT *************************** */
main {
  /* 
  margin-bottom: 1rem;
  margin-right: 1rem;
  padding: 1rem;
  background-color: #f3f9f7;
  */

  width: calc(100% - 16rem);
  margin-top: 5.4rem;
  margin-left: 18rem;
  margin-right: 2rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
  padding: 20px;
  overflow-y: auto;
  scrollbar-width: none;
  height: calc(100vh - 3.75rem); /* Adjust height to avoid overlap with the header */
  background-color: #f4f4f4;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

/* *********************** SIDEBAR *************************************** */
.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 16rem;
  background-color: var(--color-secondary);
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
  height: 100%;
}

.sidebar ul li {
  padding: 15px;
  cursor: pointer;
  text-align: left;
  border-bottom: 1px solid #e0d8d8;
}

.sidebar ul li:hover {
  background-color: #555;
  background-color: var(--color-primary);
}

.sidebar li.active {
  background-color: var(--color-primary);
  color: white;
}

#navSettings {
  border-radius: 0px;
  border-bottom: none;
  text-align: start;
  color: var(--color-secondary);
  background-color: white;
}

#navSettings:hover {
  background-color: var(--color-secondary);
  color: white;
}

/* ***************** HEADER ****************** */
header {
  position: fixed;
  top: 0;
  right: 0;
  left: 16rem;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  background-color: #f4f4f4;
  border-radius: 1rem;
  margin: 1rem 2rem 1rem 2rem;
}

/* *************** STUDENTS ********************* */
.elevated-container {
  background-color: white;
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 0 2px 2px 0 rgba(36, 35, 35, 0.8);
}

/* ************** ADD CLASS CSS ******************** */
.class-item {
  padding: 1rem;
  cursor: pointer;
  text-align: left;
  border-bottom: 1px solid #e0d8d8;
}

.class-item:hover {
  background-color: #f4f4f4;
}

.sectionContainer {
  background-color: white;
  padding: 1.5rem;
  border-radius: 0.35rem;
  box-shadow: 0 2px 2px 0 rgba(36, 35, 35, 0.8);
  margin-bottom: 2rem;
}

#addClassTable input {
  width: 100%;
}

#addClassTable table {
  overflow: visible;
}

.suggestion-list {
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  z-index: 10;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  display: none;
  font-size: medium;
  overflow-y: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.suggestion-list li {
  padding: 0.5rem 1rem !important;
  cursor: pointer;
}

.suggestion-list li:hover {
  background-color: #f0f0f0;
}

.toggle-buttons {
  display: flex;
  gap: 0;
}

.toggle-btn {
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #FFF;
  color: var(--color-secondary);
  cursor: pointer;
  transition: all 0.3s ease;
}

.toggle-btn:hover {
  background-color: #e0e0e0;
}

.toggle-btn.active {
  background-color: var(--color-secondary);
  color: #fff;
  border-color: var(--color-secondary);
}

#billStudentsMessage {
  line-height: 1.6;
  color: #333;
  background-color: #f9f9f9;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid #ddd;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: large;
}
#billStudentsMessage strong {
  color: #000;
  font-weight: 700;
}
#billStudentsMessage ul {
  margin: 10px 0;
  padding-left: 20px;
}
#billStudentsMessage ul li {
  margin-bottom: 5px;
}
/* ********************** BILL CSS *********************** */
#billClassContainer select,
#billClassContainer input {
  width: 100%;
}

/* *************** MODAL CSS *********************** */
.modal {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
}

/* Modal content box */
.modal-container {
  margin: 15% auto;
  padding: 1.5rem;
  border-radius: 0.5rem;
  width: 40rem;
  text-align: start;
  animation: fadeIn 0.5s forwards;
  position: relative;
  background-color: white;
}

.modal-header {
  text-align: center;
}

.modal-content p {
  padding: 0.8rem;
}

.modal-btn-group {
  display: flex;
  margin-top: 1rem;
  gap: 2rem;
}

/* Close button (X) */
.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  cursor: pointer;
}

/* Animation for fading in and out */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}

#addStudentForm {
  display: block;
  padding: 1rem;
  border-radius: 0.5rem;
  width: 100%;
  text-align: start;
  animation: fadeIn 0.5s forwards;
  position: relative;
  padding: 1rem;
}

#addStudentModal button {
  width: 8rem;
}

.form-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1rem 0;
}

.form-item label {
  width: 30%;
  font-size: large;
}

.form-item input {
  width: 60%;
}

.form-item select {
  width: 60%;
}

/* *********************** TOAST CSS ************************ */
.toast-container {
  width: 250px;
  min-width: 250px;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 5px;
}

.toast-text {
  padding: 12px 20px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  animation: fadeIn 0.5s forwards;
  /* animation: fadeIn 0.5s forwards, fadeOut 0.5s 2.5s forwards;  */
}

.toast-success {
  background-color: var(--color-green);
}

.toast-error {
  background-color: var(--color-red-light);
}

/* ************** COLOURS & BACKGROUND COLOURS ********************/
.bg-secondary {
  background-color: var(--color-secondary);
  color: white;
}

.bg-red {
  background-color: var(--color-red);
  color: white;
}

.bg-green {
  background-color: var(--color-green);
  color: white;
}

.bg-yellow {
  background-color: var(--color-yellow);
  color: white;
}

.bg-blue {
  background-color: var(--color-blue);
  color: white;
}

.white-text {
  color: white;
}

.color-red {
  color: var(--color-red);
}

.color-green {
  color: var(--color-green);
}

.color-blue {
  color: var(--color-blue);
}

.color-secondary {
  color: var(--color-secondary);
}
/* ************** BUTTONS CSS ******************************* */
.outlined-button {
  display: inline-block;
  color: #007bff;
  background-color: transparent;
  border: 1px solid #007bff;
  transition: all 0.3s ease;
}

.outlined-button:hover {
  background-color: #007bff;
  color: #fff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.outlined-button:active {
  background-color: #0056b3; /* Darker background when clicked */
  border-color: #0056b3;
  box-shadow: none;
}

.outlined-button:disabled {
  color: #ccc;
  border-color: #ccc;
  cursor: not-allowed;
  background-color: transparent;
}

.text-button {
  display: inline-block;
  color: #007bff;
  background-color: transparent;
  border: none;
  cursor: pointer;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  transition: color 0.3s ease, text-decoration 0.3s ease;
}

.text-button:hover {
  color: #0056b3; /* Darker colour on hover */
  text-decoration: underline;
}

.text-button:active {
  color: #003f7f; /* Even darker colour on click */
}

.text-button:disabled {
  color: #ccc;
  cursor: not-allowed;
}

/* ************************ ROUNDED TABLE CSS ****************** */
.table-rounded {
  border-collapse: collapse;
  width: 100%;
  border-radius: 0.75rem;
  overflow: hidden;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.table-rounded th,
.table-rounded td {
  padding: 8px 12px;
  text-align: center;
}

.table-rounded th:nth-child(2),
.table-rounded td:nth-child(2) {
  text-align: left;
}

.table-rounded th {
  background-color: var(--color-secondary);
  font-weight: bold;
  border: 0.1rem solid var(--text-color);
}

.table-rounded tr:last-child td {
  border-bottom: none;
}

.table-rounded td {
  /* border: 0.1rem solid var(--text-color); */
  border: none;
}

/* Remove vertical borders completely */
.table-rounded td,
.table-rounded th {
  border-left: none;
  border-right: none;
}

.table-rounded tr:nth-of-type(odd) {
  background-color: rgba(245, 247, 250, 0.5);
}

.table-rounded tr:hover {
  background-color: #9ca3af;
}
